{% extends 'public/_base.html' %}

{% block header_content %}
<script>
    function r1Click() {
        document.getElementById("cntrno").disabled = false;
        document.getElementById("cntrno").focus();
        document.getElementById("vslseq").disabled = true;
        document.getElementById("so").disabled = true;
    }

    function r2Click() {
        document.getElementById("cntrno").disabled = true;
        document.getElementById("vslseq").disabled = false;
        document.getElementById("vslseq").focus();
        document.getElementById("so").disabled = false;
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3 justify-content-center align-items-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5>出口查詢</h5>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio" id="radio1" onclick="r1Click()" checked>
                            <div class="input-group mb-3">
                                <div class="input-group-text" style="width: 4rem;">櫃號</div>
                                <input type="text" class="form-control" id="cntrno"
                                    placeholder="" aria-label="container no" aria-describedby="btnGroupAddon">
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio" id="radio1" onclick="r2Click()">
                            <div class="input-group mb-3">
                                <div class="input-group-text" style="width: 4rem;">船掛</div>
                                <input type="text" class="form-control" id="vslseq"
                                    placeholder="" aria-label="container no" aria-describedby="btnGroupAddon" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-text" style="width: 4rem;">SO</div>
                                <input type="text" class="form-control" id="so"
                                    placeholder="" aria-label="container no" aria-describedby="btnGroupAddon" disabled>
                            </div>
                        </div>
                        <div class="form-group text-end">
                            <button class="btn btn-primary">查詢</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}