<footer class="pt-4 pt-md-5 border-top" style="margin-top:10rem; background-color: #082b76; position: relative; bottom: 0; width: 100%;">
	<div class="container">
		<div class="row justify-content-center d-flex flex-wrap">
			<div class="col-md-4 col-lg-2 mt-3 d-flex justify-content-center">
				<ul class="list-unstyled text-small">
					<li><p class="text-light fs-3 fw-bolder">公告</p></li>
					<li><a class="text-light text-decoration-none" href="/newslist">最新消息</a></li>
					<li><a class="text-light text-decoration-none" href="/hr">人才招募</a></li>
					<!-- <li><a class="text-light text-decoration-none" href="/purchase">採購公告</a></li> -->
				</ul>
			</div>
				</ul>
			</div> -->
		</div>
		<div class="row" style="margin-top: 3rem;">
			<p class="text-light text-center">
				國際物流股份有限公司 版權所有</br>
				&copy; U LOGISTICS INTERNATIONAL CO., All Rights Reserved.</br>
				地址：100 台北市中正區重慶南路一段122號</br>
				電話：02-2311-3731</br>
			</p>
		</div>
	</div>
</footer>