{% extends 'public/_base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-8">
            <h3>人才招募</h3>
            <p>本公司為自由貿易港區事業，業務內容不斷增加含概貨櫃裝卸、港口集散站、內陸集散站、倉儲作業、拖車運送、港口代理等。</p>
            <p>本公司追求創新突破的精神，不斷地自我要求成長，歡迎有志一同的人加入我們團隊，一起迎向未來，同時也達成您人生工作的目標與願望。</p>
            <a class="btn btn-primary" href="/">104職缺</a>
            <a class="btn btn-primary" href="/">518職缺</a>
        </div>
    </div>
</div>

{% endblock %}